[submodule "Carthage/Checkouts/SageResearch"]
	path = Carthage/Checkouts/SageResearch
	url = https://github.com/Sage-Bionetworks/SageResearch.git
[submodule "Carthage/Checkouts/Bridge-iOS-SDK"]
	path = Carthage/Checkouts/Bridge-iOS-SDK
	url = https://github.com/Sage-Bionetworks/Bridge-iOS-SDK.git
[submodule "Carthage/Checkouts/BridgeApp-Apple-SDK"]
	path = Carthage/Checkouts/BridgeApp-Apple-SDK
	url = https://github.com/Sage-Bionetworks/BridgeApp-Apple-SDK.git
